BBPATH ?= "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ##OEROOT##/meta \
    ##OEROOT##/../meta-openembedded/meta-oe \
    ##OEROOT##/../meta-openembedded/meta-python \
    ##OEROOT##/../meta-openembedded/meta-networking \
    ##OEROOT##/../meta-picocom \
    ##OEROOT##/../meta-riscv \
    "
